.list-overlap {
    margin-left: -25px;
    margin-bottom: -25px;
}
.list-overlap-small {
    margin-left: -15px;
    margin-bottom: -15px;
}
.list-overlap-middle {
    margin-left: -15px;
    margin-bottom: -20px;
}

.flip-card {
    width: 100px;
    /* height: 224px; */
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

/* 카드, 코인 이동 */
.card-devide-move1 {
    transform: translate(-200px, -100px);
    transition: 1s;
}

.card-devide-move2 {
    transform: translate(200px, -100px);
    transition: 1s;
}

.card-devide-move3 {
    transform: translate(-200px, 100px);
    transition: 1s;
}

.card-devide-move4 {
    transform: translate(200px, 100px);
    transition: 1s;
}

/* 코인 나눠줌 애니메이션 */
.coin-devide-move1 {
    transform: translate(-100px, -100px);
    transition: 1s;
}

.coin-devide-move2 {
    transform: translate(100px, -100px);
    transition: 1s;
}

.coin-devide-move3 {
    transform: translate(-100px, 100px);
    transition: 1s;
}

.coin-devide-move4 {
    transform: translate(100px, 100px);
    transition: 1s;
}



.fade-in{
    opacity: 1;
    transition: 1s;
}
.fade-out{
    opacity: 0;
    transition: 1s;
}