.list-overlap {
    margin-left: -25px;
    margin-bottom: -25px;
}
.list-overlap-small {
    margin-left: -20px;
    margin-bottom: -20px;
}

.flip-card {
    width: 160px;
    height: 224px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.card-devide-move1 {
    transform: translate(200px, 200px);
    transition: 1s;
}

.card-devide-move2 {
    transform: translate(-200px, 200px);
    transition: 1s;
}

.card-devide-move3 {
    transform: translate(200px, -200px);
    transition: 1s;
}

.card-devide-move4 {
    transform: translate(-200px, -200px);
    transition: 1s;
}



.coin-unmove1 {
    transform: translate(0, 0);
    transition: 1s;
}

.coin-unmove2 {
    transform: translate(0, 0);
    transition: 1s;
}

.coin-unmove3 {
    transform: translate(0, 0);
    transition: 1s;
}

.coin-unmove4 {
    transform: translate(0, 0);
    transition: 1s;
}
.coin-move1 {
    transform: translate(50%, 50%);
    transition: 1s;
}

.coin-move2 {
    transform: translate(-50%, 50%);
    transition: 1s;
}

.coin-move3 {
    transform: translate(50%, -50%);
    transition: 1s;
}

.coin-move4 {
    transform: translate(-50%, -50%);
    transition: 1s;
}