/* 회원가입, 로그인, 카카오회원가입 폼 스타일 */
.formstyle {
    border-radius: 20px;
    background-color: #99a5c1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainstyle {
    border-radius: 20px;
    background-color: #576fac;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 로고 사이즈 정리 */
.big-logo {
    width: 300px;
    margin: 20px;
}
.middle-logo {
    width: 250px;
    margin: 20px;
}
.small-logo {
    width: 150px;
    margin: 20px;
}

/* 작게 적히는 안내 글씨 */
.little-text {
    font-size: xx-small;
}




.yb-modal-form {
    border-radius: 20px;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yb-modal-size {
    width: 400px;
}

.small-icon {
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    
}
.small-icon:hover {
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: 0.3s;
    border-radius: 50%;
    /* position: absolute; */
}

.x-small-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;  
}



.profile-outline-darkblue {
    border: 5px solid #334A82;
    border-radius: 20px;
    padding: 20px;
}

/* 프로필 페이지 오른쪽 위 radius 조절 */
.profile-box-radius {
    border-top-right-radius: 0;
}
